ul {
    list-style-type: none;
}

article {
    position: relative;
    height: 100%;
}

.header {
    width: 1100px;
    height: 293px;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 93.16px 50px 95.19px;
    list-style: circle;
    background-color: rgb(255, 0, 179, 0.5);
}

.header_nav {
    font-family: "Raleway";
    font-size: 18px;
    font-weight: 400;
    line-height: 21.13px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    
}

.header__links-list {
    display: flex;
    list-style: circle;
    gap: 40px  45px;
    text-underline-offset: 0.18em;
}

.header__logo {
    width: 130px;
    height: 98px;
}

.header__links-list-item_no-bullit {
    list-style-type: none;
}

.header__links-list-item {
    text-decoration: underline;
}

.address {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.3px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.header_address {
    max-width: 240px;
    height: 98px;
    justify-self: end;
    padding-right: 35px;
}

.address_link {
    text-decoration: underline;
    text-underline-offset: 0.18em;
}

.cover {
    background-image: url("cover.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 1100px;
    height: 757px;
    position: relative;
    margin-bottom: 180px;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    z-index: 1;   
    inset: 0;
}

.description {
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
  
.cover__title {
    color: #FFFFFF;
    font-family: "Raleway bold", sans-serif; 
    font-size: 100px;
    font-weight: 700;
    line-height: 115px;
    letter-spacing: 0.3em;   
    width: 1000px;
    height: 385px;
    margin-top: 165px;
    margin-left: 50px;
    margin-right: 50px;
    align-self: center;
    display: flex;  
    flex-direction: column;   
    justify-content: space-between;
}

.cover__description {
    display: flex;
    justify-content: space-evenly;
    margin-top: 108px;
    
}

.aligned-text {
    width: 286px;
    height: 115px;
    margin-right: 44.5px;
    margin-bottom: 20px;
    align-self: flex-start;
}

.aligned-text_center {
    align-self: center;
    width: 339px;
    height: 115px;
    margin-bottom: 20px
}

.aligned-text_right {
   align-self: end;
   width: 387px;
   height: 115px;
}

.cover__description-text {
    color: rgba(255, 255, 255, 1);
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    word-spacing: 20px;
    align-self: center;
    justify-self: start;
}

.botton {
    color: rgba(255, 255, 255, 1);
    border-color: white;
    background-color: transparent;
    padding: 12px 32px 11px 31px;
    font-family: "Raleway", sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 25.83px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    justify-self: center;
}

.lots {
    width: 100%;
    height: 723px;
    margin-bottom: 155px;
    background-color: rgb(0, 0, 223, 0.5);
    padding-left: 28px;
}

.lots__heading {
    font-family: "Raleway", sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 46.96px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    text-transform: uppercase;
    margin-bottom: 27px;
    padding-left: 40px;
}

.card {
    width: 334px;
    height: 596px;  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 48px 40px;
    position: relative;
}

.lots__card-list {
    display: flex;
    gap: 25px;
    margin-bottom: 30px;
}

.card-link {
    height: 100%;
}

.card_type_film {
    background-image: url("../images/card-lot-01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;  
}

.card_type_book {
    background-image: url("../images/card-lot-02.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card_type_picture {
    background-image: url("../images/card-lot-03.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card__title {
    font-family: "Raleway", sans-serif;
    color: rgba(255, 255, 255, 1);
    font-size: 22px;
    font-weight: 700;
    line-height: 26.4px;
    text-align: left;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
}
    
.card__text {
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: justify;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(255, 255, 255, 1);
    position: relative;
    z-index: 2;
}

.lots__look-more-link {
    text-decoration: underline;
    padding-left: 40px;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 400;
    line-height: 23.48px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.about {
    width: 100%;
    height: 595px;
    display: grid;
    grid-template-columns: 334px 1fr;
    grid-template-rows: 240px auto;
    justify-items: start;
    align-items: center;
    column-gap: 25px;
    row-gap: 1px;
    background-color: rgba(240, 91, 5, 0.5);
    padding-left: 28px;
}

.about_logo {
    width: 240px;
    height: 240px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;    
}

.about_logo_img {
    width: 148px;
    height: 114px;
}

.about__column_text {
    padding-bottom: 28px;
    padding-right: 40px;
}

.about__title {
    font-family: "Raleway", sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 46.96px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    text-transform: uppercase;
    color:  rgba(0, 0, 0, 1);
    padding-top: 10px;
}

.about__text {
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    
}

.about__column_text {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer { 
    width: 1100px;
    height: 180px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
    justify-items: center;
    margin-top: 150px;
    background-color: rgba(0, 255, 34, 0.5);
}

.footer__menu-list {
    text-align: center;
}

.footer__menu-link {
    text-decoration: underline;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    width: 240px;
    height: 48px;
    display: flex;
    justify-content: space-between;
    justify-self: end;
    padding-left: 20px;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
}

